@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: #f1f1f1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

fieldset {
  min-width: inherit; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

a:focus {
  outline: 2px solid #c1c1c1;
  outline: 2px solid rgba(51, 51, 51, 0.3); }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

body {
  font-family: 'Nunito',sans-serif;
  background-color: #fff;
  overflow-x: hidden; }

.mainHeader {
  height: auto;
  background-color: #3dd07d;
  width: 100%; }
  .mainHeader a {
    color: #fff; }
    .mainHeader a:hover {
      text-decoration: none; }
  .mainHeader h1 {
    color: #fff;
    font-size: 2.5em;
    padding: 35px;
    font-weight: 600;
    padding-left: 10%;
    display: block;
    width: auto;
    float: left; }

.menu-main-menu-container .menu {
  width: 100%;
  margin-top: 40px; }
  .menu-main-menu-container .menu li {
    float: left;
    margin-left: 20px; }
    .menu-main-menu-container .menu li a {
      float: left;
      font-size: 1.5em;
      color: #fff;
      font-weight: 300; }
.menu-main-menu-container .menu-main-menu {
  width: 60%; }
  .menu-main-menu-container .menu-main-menu li {
    float: left;
    width: 20%; }
    .menu-main-menu-container .menu-main-menu li a {
      float: left;
      font-size: 100px; }

.outterContainer {
  background-color: #fafafa; }

.mainImage div {
  width: 100%;
  height: 800px; }

.blog-main .latest-posts {
  font-size: 4em;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 50px; }
.blog-main .posts-container {
  margin-left: 5%; }

.single .single-featured-image {
  height: 400px;
  width: 100%;
  margin-top: 15px;
  object-fit: cover; }
.single .content-wrapper {
  width: 80%;
  border-top: 35px solid #fafafa; }
  .single .content-wrapper h3 {
    font-size: 4em;
    font-weight: 600;
    padding: 20px 15px; }
  .single .content-wrapper .single-main-content {
    border: 1px solid #dedede;
    background-color: #fff;
    margin-bottom: 20px; }
    .single .content-wrapper .single-main-content p {
      font-size: 1.6em;
      padding: 12px 20px;
      opacity: 0.8; }
      .single .content-wrapper .single-main-content p a {
        padding: 10px 10px;
        background-color: #007bff;
        color: #fff;
        font-size: 0.8em;
        border-radius: 3px; }
    .single .content-wrapper .single-main-content strong {
      font-weight: 600;
      opacity: 1;
      color: #000; }
    .single .content-wrapper .single-main-content ul {
      padding: 12px 20px; }
    .single .content-wrapper .single-main-content li {
      font-size: 2.5em;
      font-weight: 600; }
    .single .content-wrapper .single-main-content blockquote {
      font-style: italic;
      font-weight: 600;
      font-size: 1.25em;
      padding: 22px;
      opacity: 1; }
      .single .content-wrapper .single-main-content blockquote p {
        opacity: 1; }
        .single .content-wrapper .single-main-content blockquote p::before {
          content: "\"  ";
          font-size: 1.2em; }
        .single .content-wrapper .single-main-content blockquote p::after {
          content: "  \"";
          font-size: 1.2em; }
    .single .content-wrapper .single-main-content em {
      font-style: italic;
      opacity: 1; }
    .single .content-wrapper .single-main-content img {
      padding: 10px 0px;
      max-width: 100%;
      max-height: 400px; }
    .single .content-wrapper .single-main-content .aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto; }

.single-pagination a {
  color: #3498db;
  opacity: 0.9;
  font-size: 1.4em; }
  .single-pagination a span {
    margin: 10px;
    margin-top: 25px; }

.page-404 {
  margin-top: 40vh; }
  .page-404 h1 {
    font-size: 3em;
    font-weight: 600; }
  .page-404 p {
    font-size: 2em; }
  .page-404 a {
    color: #3dd07d;
    font-size: 2em; }

.wp-caption {
  display: block; }

.wp-caption-text {
  display: block; }

.gallery-caption {
  display: block; }

.bypostauthor {
  display: block; }

.alignright {
  display: block; }

.alignleft {
  display: block; }

.sidebar-area {
  margin-top: 130px; }
  .sidebar-area .calendar_wrap {
    font-size: 1.5em; }
    .sidebar-area .calendar_wrap table {
      width: 70%;
      margin-top: 15px; }
    .sidebar-area .calendar_wrap td {
      margin: 10px; }
  .sidebar-area li {
    list-style: none; }
  .sidebar-area li:first-child {
    padding-top: 20px; }
  .sidebar-area ul {
    list-style: none; }
  .sidebar-area h2 {
    font-size: 3em;
    opacity: 0.9;
    border-bottom: 1px solid #333333;
    padding-bottom: 9px;
    padding-top: 9px; }
  .sidebar-area .widget_categories a {
    background-color: #3dd07d;
    color: #fff;
    font-size: 1.5em;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 15px; }
  .sidebar-area .widget_categories li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    margin-top: 20px; }
  .sidebar-area .widget_media_image img {
    padding-top: 20px; }
  .sidebar-area .widget_meta a {
    color: #000;
    opacity: 0.7;
    font-size: 1.2em; }
  .sidebar-area .widget_meta li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    margin-top: 10px; }
  .sidebar-area .widget_archive select {
    margin-top: 20px;
    border: none;
    font-size: 1.3em;
    background-color: #3dd07d;
    padding: 5px;
    color: #fff;
    border-radius: 3px; }
  .sidebar-area .widget_nav_menu li:first-child {
    padding-top: 0px;
    margin-left: 0px; }
  .sidebar-area .widget_nav_menu li {
    margin-left: 10px; }
    .sidebar-area .widget_nav_menu li a {
      color: #000;
      opacity: 0.8; }
  .sidebar-area .widget_rss h2 {
    padding-top: 100px; }
    .sidebar-area .widget_rss h2 a {
      color: #000;
      font-weight: 600;
      opacity: 1; }
  .sidebar-area .widget_rss a {
    color: #000;
    opacity: 0.7;
    font-size: 1.2em; }
  .sidebar-area .widget_rss li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    margin-top: 10px; }
  .sidebar-area .widget {
    margin-top: 50px; }
  .sidebar-area .searchform {
    margin-top: 50px; }
  .sidebar-area #s {
    font-size: 1.4em;
    width: 150px;
    margin-right: 15px;
    border: none;
    border-radius: 3px; }
  .sidebar-area #searchsubmit {
    background-color: #2196f3;
    /* Green */
    border: #dedede;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 3px; }

.page-template-default .page-container {
  margin-top: 150px;
  padding: 0% 20% 5% 0%; }
  .page-template-default .page-container .featured-image {
    width: 100%;
    height: 400px; }
  .page-template-default .page-container h2 {
    font-weight: 600;
    font-size: 3.5em;
    padding-bottom: 20px; }
  .page-template-default .page-container p {
    font-size: 1.6em;
    padding: 12px 0px;
    opacity: 0.8; }
    .page-template-default .page-container p a {
      padding: 10px 10px;
      background-color: #007bff;
      color: #fff;
      font-size: 0.8em;
      border-radius: 3px; }
  .page-template-default .page-container strong {
    font-weight: 600;
    opacity: 1;
    color: #000; }
  .page-template-default .page-container ul {
    padding: 12px 20px; }
  .page-template-default .page-container li {
    font-size: 2.5em;
    font-weight: 600; }
  .page-template-default .page-container blockquote {
    font-style: italic;
    font-weight: 600;
    font-size: 1.25em;
    padding: 22px;
    opacity: 1; }
    .page-template-default .page-container blockquote p {
      opacity: 1; }
      .page-template-default .page-container blockquote p::before {
        content: "\"  ";
        font-size: 1.2em; }
      .page-template-default .page-container blockquote p::after {
        content: "  \"";
        font-size: 1.2em; }
  .page-template-default .page-container em {
    font-style: italic;
    opacity: 1; }
  .page-template-default .page-container img {
    padding: 10px 0px;
    max-width: 100%;
    max-height: 400px; }
  .page-template-default .page-container .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.sidebar-area-single .calendar_wrap {
  font-size: 1.5em; }
  .sidebar-area-single .calendar_wrap table {
    width: 70%;
    margin-top: 15px; }
  .sidebar-area-single .calendar_wrap td {
    margin: 10px; }
.sidebar-area-single li {
  list-style: none; }
.sidebar-area-single li:first-child {
  padding-top: 20px; }
.sidebar-area-single ul {
  list-style: none; }
.sidebar-area-single h2 {
  font-size: 3em;
  opacity: 0.9;
  border-bottom: 1px solid #333333;
  padding-bottom: 9px;
  padding-top: 9px; }
.sidebar-area-single .widget_categories a {
  background-color: #3dd07d;
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 15px; }
.sidebar-area-single .widget_categories li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  margin-top: 20px; }
.sidebar-area-single .widget_media_image img {
  padding-top: 20px; }
.sidebar-area-single .widget_meta a {
  color: #000;
  opacity: 0.7;
  font-size: 1.2em; }
.sidebar-area-single .widget_meta li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  margin-top: 10px; }
.sidebar-area-single .widget_archive select {
  margin-top: 20px;
  border: none;
  font-size: 1.3em;
  background-color: #3dd07d;
  padding: 5px;
  color: #fff;
  border-radius: 3px; }
.sidebar-area-single .widget_nav_menu li:first-child {
  padding-top: 0px;
  margin-left: 0px; }
.sidebar-area-single .widget_nav_menu li {
  margin-left: 10px; }
  .sidebar-area-single .widget_nav_menu li a {
    color: #000;
    opacity: 0.8; }
.sidebar-area-single .widget_rss h2 {
  padding-top: 100px; }
  .sidebar-area-single .widget_rss h2 a {
    color: #000;
    font-weight: 600;
    opacity: 1; }
.sidebar-area-single .widget_rss a {
  color: #000;
  opacity: 0.7;
  font-size: 1.2em; }
.sidebar-area-single .widget_rss li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  margin-top: 10px; }
.sidebar-area-single .widget {
  margin-top: 50px; }
.sidebar-area-single .searchform {
  margin-top: 50px; }
.sidebar-area-single #s {
  font-size: 1.4em;
  width: 150px;
  margin-right: 15px;
  border: none;
  border-radius: 3px; }
.sidebar-area-single #searchsubmit {
  background-color: #2196f3;
  /* Green */
  border: #dedede;
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 3px; }

.trademark {
  background-color: #333; }
  .trademark p {
    font-size: 1.15em;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #fff;
    font-weight: 300; }

.comment-body p {
  opacity: 0.8;
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 10px; }

.comments-area {
  background-color: #fff; }
  .comments-area .comments-title {
    margin-left: 0px;
    font-size: 1.5em;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #fafafa; }
  .comments-area .avatar {
    display: none; }
  .comments-area .comment-author {
    font-weight: 600;
    font-size: 2.5em;
    padding: 10px 0px; }
  .comments-area .comment-meta a {
    opacity: 0.9;
    font-size: 1em; }

.comment {
  border: 1px solid #dedede;
  padding: 20px; }

.navigation .nav-links .page-numbers {
  font-size: 1.3em;
  opacity: 0.7;
  color: #000; }
.navigation .nav-links .current {
  font-weight: 600;
  opacity: 1;
  color: #000; }

.comment-section {
  width: 90%; }

.reply {
  padding-bottom: 20px; }

.screen-reader-text {
  display: none; }

article .content-cards {
  width: 92%;
  height: 250px;
  border: 1px solid #dedede;
  margin-bottom: 50px;
  background-color: #fff; }
  article .content-cards .post-thumnbail {
    height: 250px;
    width: 250px;
    float: left; }
  article .content-cards a {
    color: #000; }
    article .content-cards a:hover {
      text-decoration: none; }
  article .content-cards .entry-header {
    margin-left: 275px; }
    article .content-cards .entry-header h3 {
      font-size: 2.7em;
      color: #000;
      opacity: 1;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 20px; }
    article .content-cards .entry-header .date {
      opacity: 0.7;
      font-size: 1.1em; }
    article .content-cards .entry-header p {
      opacity: 0.85;
      font-size: 1.3em;
      padding-right: 50px;
      margin-top: 10px;
      font-weight: 400; }
    article .content-cards .entry-header .the_main_excerpt {
      border-bottom: 1px solid #dedede;
      padding-bottom: 15px; }
  article .content-cards .entry-footer {
    margin-left: 275px; }
    article .content-cards .entry-footer p {
      color: #3dd07d;
      font-size: 1.15em;
      margin-top: 6px; }

.comment-respond h3 {
  text-align: center; }

.comment-form #comment {
  width: 100%; }
.comment-form textarea {
  font-size: 1.5em; }
.comment-form input {
  font-size: 1.5em; }
.comment-form label {
  font-size: 1.8em;
  color: #000;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px; }
.comment-form .comment-notes {
  display: none; }
.comment-form .comment-submit {
  margin-top: 15px; }

.site-footer {
  margin-top: 100px;
  border-bottom: 50px solid #3dd07d; }
  .site-footer .colored-row {
    background-color: #3dd07d; }
  .site-footer ul {
    list-style: none; }
  .site-footer li {
    list-style: none;
    text-align: center;
    margin-top: 10px; }
  .site-footer li:first-child {
    margin-top: 40px; }
  .site-footer a {
    text-align: center;
    color: #fff;
    opacity: 0.9;
    font-size: 1.4em; }
  .site-footer h2 {
    margin-top: 45px;
    font-size: 2.5em;
    color: #fff;
    font-weight: 600;
    text-align: center; }
  .site-footer .searchform {
    margin-top: 50px; }
  .site-footer #s {
    font-size: 1.4em;
    width: 150px;
    margin-right: 15px;
    border: none;
    border-radius: 3px; }
  .site-footer #searchsubmit {
    background-color: #2196f3;
    /* Green */
    border: none;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 3px; }

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  article .content-cards {
    width: 92%;
    height: 250px;
    border: 1px solid #dedede;
    margin-bottom: 50px;
    background-color: #fff; }
    article .content-cards .post-thumnbail {
      height: 250px;
      width: 200px;
      float: left; }
    article .content-cards a {
      color: #000; }
      article .content-cards a:hover {
        text-decoration: none; }
    article .content-cards .entry-header {
      margin-left: 225px; }
      article .content-cards .entry-header h3 {
        font-size: 2.35em;
        color: #000;
        opacity: 1;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 10px; }
      article .content-cards .entry-header .date {
        opacity: 0.7;
        font-size: 1.1em; }
      article .content-cards .entry-header p {
        opacity: 0.85;
        font-size: 1.15em;
        padding-right: 25px;
        margin-top: 10px;
        font-weight: 400; }
      article .content-cards .entry-header .the_main_excerpt {
        border-bottom: 1px solid #dedede;
        padding-bottom: 15px; }
    article .content-cards .entry-footer {
      margin-left: 225px; }
      article .content-cards .entry-footer p {
        color: #3dd07d;
        font-size: 1.15em;
        margin-top: 6px; } }
@media screen and (min-width: 300px) and (max-width: 600px) {
  .single .single-featured-image {
    height: 200px;
    width: 100%;
    margin-top: 15px; }
  .single .content-wrapper {
    width: 94%;
    border-top: 35px solid #fafafa;
    margin: 0 auto; }
    .single .content-wrapper h3 {
      font-size: 3em;
      font-weight: 600;
      padding: 20px 15px; }
    .single .content-wrapper .single-main-content {
      border: 1px solid #dedede;
      background-color: #fff;
      margin-bottom: 20px; }
      .single .content-wrapper .single-main-content p {
        font-size: 1.35em;
        padding: 12px 20px;
        opacity: 0.8; }
        .single .content-wrapper .single-main-content p a {
          padding: 10px 10px;
          background-color: #007bff;
          color: #fff;
          font-size: 0.8em;
          border-radius: 3px; }
      .single .content-wrapper .single-main-content strong {
        font-weight: 600;
        opacity: 1;
        color: #000; }
      .single .content-wrapper .single-main-content ul {
        padding: 12px 20px; }
      .single .content-wrapper .single-main-content li {
        font-size: 2.5em;
        font-weight: 600; }
      .single .content-wrapper .single-main-content blockquote {
        font-style: italic;
        font-weight: 600;
        font-size: 1.25em;
        padding: 22px;
        opacity: 1; }
        .single .content-wrapper .single-main-content blockquote p {
          opacity: 1; }
          .single .content-wrapper .single-main-content blockquote p::before {
            content: "\"  ";
            font-size: 1.2em; }
          .single .content-wrapper .single-main-content blockquote p::after {
            content: "  \"";
            font-size: 1.2em; }
      .single .content-wrapper .single-main-content em {
        font-style: italic;
        opacity: 1; }
      .single .content-wrapper .single-main-content img {
        padding: 10px 0px;
        max-width: 100%;
        max-height: 200px; }
      .single .content-wrapper .single-main-content .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto; }

  .comment-section {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }

  .comment-body p {
    opacity: 0.8;
    font-size: 1.3em;
    padding-top: 20px;
    padding-bottom: 10px; }

  .comments-area {
    background-color: #fff; }
    .comments-area .comments-title {
      margin-left: 0px;
      font-size: 1.5em;
      padding-top: 80px;
      padding-bottom: 20px;
      background-color: #fafafa; }
    .comments-area .avatar {
      display: none; }
    .comments-area .comment-author {
      font-weight: 600;
      font-size: 2.5em;
      padding: 10px 0px; }
    .comments-area .comment-meta a {
      opacity: 0.9;
      font-size: 1em; } }
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .page-template-default .page-container {
    margin-top: 150px;
    padding: 0% 0% 0% 0%; }
    .page-template-default .page-container .featured-image {
      width: 100%;
      height: 200px; }
    .page-template-default .page-container h2 {
      font-weight: 600;
      font-size: 3.5em;
      padding-bottom: 20px; }
    .page-template-default .page-container p {
      font-size: 1.3em;
      padding: 12px 0px;
      opacity: 0.8; }
      .page-template-default .page-container p a {
        padding: 10px 10px;
        background-color: #007bff;
        color: #fff;
        font-size: 0.8em;
        border-radius: 3px; }
    .page-template-default .page-container strong {
      font-weight: 600;
      opacity: 1;
      color: #000; }
    .page-template-default .page-container ul {
      padding: 12px 20px; }
    .page-template-default .page-container li {
      font-size: 2.5em;
      font-weight: 600; }
    .page-template-default .page-container blockquote {
      font-style: italic;
      font-weight: 600;
      font-size: 1.2em;
      padding: 22px;
      opacity: 1; }
      .page-template-default .page-container blockquote p {
        opacity: 1; }
        .page-template-default .page-container blockquote p::before {
          content: "\"  ";
          font-size: 1.2em; }
        .page-template-default .page-container blockquote p::after {
          content: "  \"";
          font-size: 1.2em; }
    .page-template-default .page-container em {
      font-style: italic;
      opacity: 1; }
    .page-template-default .page-container img {
      padding: 10px 0px;
      max-width: 100%;
      max-height: 400px; }
    .page-template-default .page-container .aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto; }

  .mainHeader {
    height: auto;
    background-color: #3dd07d;
    width: 100%;
    padding-bottom: 20px; }
    .mainHeader a {
      color: #fff; }
      .mainHeader a:hover {
        text-decoration: none; }
    .mainHeader h1 {
      color: #fff;
      font-size: 2.5em;
      font-weight: 600;
      padding-left: 0%;
      display: block;
      width: auto;
      float: none;
      text-align: center;
      padding-bottom: 0px; }
      .mainHeader h1 a {
        text-align: center; }

  .menu-main-menu-container {
    display: flex; }
    .menu-main-menu-container .menu {
      width: 100%;
      margin-top: 40px;
      display: flex; }
      .menu-main-menu-container .menu li {
        flex-grow: 1;
        margin-left: 0px;
        float: none;
        text-align: center; }
        .menu-main-menu-container .menu li a {
          font-size: 1.5em;
          color: #fff;
          font-weight: 300;
          float: none;
          text-align: center;
          padding-bottom: 10px; }
    .menu-main-menu-container .menu-main-menu {
      width: 60%;
      margin-top: 2px; }
      .menu-main-menu-container .menu-main-menu li {
        float: left;
        width: 20%; }
        .menu-main-menu-container .menu-main-menu li a {
          float: left;
          font-size: 100px; }

  article .content-cards {
    width: 92%;
    height: auto;
    border: 1px solid #dedede;
    margin-bottom: 50px;
    background-color: #fff;
    padding-bottom: 15px; }
    article .content-cards .post-thumnbail {
      height: 175px;
      width: 100%; }
    article .content-cards a {
      color: #000; }
      article .content-cards a:hover {
        text-decoration: none; }
    article .content-cards .entry-header {
      margin-left: 10px; }
      article .content-cards .entry-header h3 {
        font-size: 2.35em;
        color: #000;
        opacity: 1;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 10px; }
      article .content-cards .entry-header .date {
        opacity: 0.7;
        font-size: 1.1em; }
      article .content-cards .entry-header p {
        opacity: 0.85;
        font-size: 1.15em;
        padding-right: 25px;
        margin-top: 10px;
        font-weight: 400; }
      article .content-cards .entry-header .the_main_excerpt {
        border-bottom: 1px solid #dedede;
        padding-bottom: 15px; }
    article .content-cards .entry-footer {
      margin-left: 10px; }
      article .content-cards .entry-footer p {
        color: #3dd07d;
        font-size: 1.15em;
        margin-top: 6px; }

  .sidebar-area {
    margin-top: 130px;
    text-align: center; }
    .sidebar-area .calendar_wrap {
      font-size: 1.5em; }
      .sidebar-area .calendar_wrap table {
        width: 100%;
        margin-top: 15px; }
        .sidebar-area .calendar_wrap table td {
          text-align: center; }
        .sidebar-area .calendar_wrap table th {
          text-align: center; }
      .sidebar-area .calendar_wrap td {
        margin: 10px; }
    .sidebar-area li {
      list-style: none; }
    .sidebar-area li:first-child {
      padding-top: 20px; }
    .sidebar-area ul {
      list-style: none; }
    .sidebar-area h2 {
      font-size: 1.8em;
      opacity: 0.9;
      border-bottom: 1px solid #333333;
      padding-bottom: 9px;
      padding-top: 9px; }
    .sidebar-area .widget_categories a {
      background-color: #3dd07d;
      color: #fff;
      font-size: 1.2em;
      padding: 10px 10px;
      border-radius: 5px;
      margin-top: 10px;
      margin-right: 15px; }
    .sidebar-area .widget_categories li {
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      margin-top: 20px; }
    .sidebar-area .widget_media_image img {
      padding-top: 20px; }
    .sidebar-area .widget_meta a {
      color: #000;
      opacity: 0.7;
      font-size: 1.2em; }
    .sidebar-area .widget_meta li {
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      margin-top: 10px; }
    .sidebar-area .widget_archive select {
      margin-top: 20px;
      border: none;
      font-size: 1.3em;
      background-color: #3dd07d;
      padding: 5px;
      color: #fff;
      border-radius: 3px; }
    .sidebar-area .widget_nav_menu li:first-child {
      padding-top: 0px;
      margin-left: 0px; }
    .sidebar-area .widget_nav_menu li {
      margin-left: 10px; }
      .sidebar-area .widget_nav_menu li a {
        color: #000;
        opacity: 0.8; }
    .sidebar-area .widget_rss h2 {
      padding-top: 100px; }
      .sidebar-area .widget_rss h2 a {
        color: #000;
        font-weight: 600;
        opacity: 1; }
    .sidebar-area .widget_rss a {
      color: #000;
      opacity: 0.7;
      font-size: 1.2em; }
    .sidebar-area .widget_rss li {
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      margin-top: 10px; }
    .sidebar-area .widget {
      margin-top: 50px; }
    .sidebar-area .searchform {
      margin-top: 50px; }
    .sidebar-area #s {
      font-size: 1.4em;
      width: 150px;
      margin-right: 15px;
      border: none;
      border-radius: 3px; }
    .sidebar-area #searchsubmit {
      background-color: #2196f3;
      /* Green */
      border: #dedede;
      color: white;
      padding: 2px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.3em;
      border-radius: 3px; }

  .sidebar-area-single {
    margin-top: 130px;
    text-align: center; }
    .sidebar-area-single .calendar_wrap {
      font-size: 1.5em; }
      .sidebar-area-single .calendar_wrap table {
        width: 100%;
        margin-top: 15px; }
        .sidebar-area-single .calendar_wrap table td {
          text-align: center; }
        .sidebar-area-single .calendar_wrap table th {
          text-align: center; }
      .sidebar-area-single .calendar_wrap td {
        margin: 10px; }
    .sidebar-area-single li {
      list-style: none; }
    .sidebar-area-single li:first-child {
      padding-top: 20px; }
    .sidebar-area-single ul {
      list-style: none; }
    .sidebar-area-single h2 {
      font-size: 1.8em;
      opacity: 0.9;
      border-bottom: 1px solid #333333;
      padding-bottom: 9px;
      padding-top: 9px; }
    .sidebar-area-single .widget_categories a {
      background-color: #3dd07d;
      color: #fff;
      font-size: 1.2em;
      padding: 10px 10px;
      border-radius: 5px;
      margin-top: 10px;
      margin-right: 15px; }
    .sidebar-area-single .widget_categories li {
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      margin-top: 20px; }
    .sidebar-area-single .widget_media_image img {
      padding-top: 20px; }
    .sidebar-area-single .widget_meta a {
      color: #000;
      opacity: 0.7;
      font-size: 1.2em; }
    .sidebar-area-single .widget_meta li {
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      margin-top: 10px; }
    .sidebar-area-single .widget_archive select {
      margin-top: 20px;
      border: none;
      font-size: 1.3em;
      background-color: #3dd07d;
      padding: 5px;
      color: #fff;
      border-radius: 3px; }
    .sidebar-area-single .widget_nav_menu li:first-child {
      padding-top: 0px;
      margin-left: 0px; }
    .sidebar-area-single .widget_nav_menu li {
      margin-left: 10px; }
      .sidebar-area-single .widget_nav_menu li a {
        color: #000;
        opacity: 0.8; }
    .sidebar-area-single .widget_rss h2 {
      padding-top: 100px; }
      .sidebar-area-single .widget_rss h2 a {
        color: #000;
        font-weight: 600;
        opacity: 1; }
    .sidebar-area-single .widget_rss a {
      color: #000;
      opacity: 0.7;
      font-size: 1.2em; }
    .sidebar-area-single .widget_rss li {
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      margin-top: 10px; }
    .sidebar-area-single .widget {
      margin-top: 50px; }
    .sidebar-area-single .searchform {
      margin-top: 50px; }
    .sidebar-area-single #s {
      font-size: 1.4em;
      width: 150px;
      margin-right: 15px;
      border: none;
      border-radius: 3px; }
    .sidebar-area-single #searchsubmit {
      background-color: #2196f3;
      /* Green */
      border: #dedede;
      color: white;
      padding: 2px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.3em;
      border-radius: 3px; } }

/*# sourceMappingURL=viridi.css.map */
